body {
    font-family: "Verdana";
}

.btn-primary
{
    background-color: pink;
    border-color:transparent;
    color:black;
}

#menu .active
{
    background-color: pink !important;
    color:black !important;
}